<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="equipmentDbConnect" connectionString="Data Source=&quot;85.175.4.135,49172&quot;;Initial Catalog=equipment_rent;User ID =mrkotik; Password=&quot;ciscO15=!&quot;"
   providerName="System.Data.SqlClient" />
  <add name="RentMVVM.Properties.Settings.connectionString" connectionString="Data Source=&amp;quot;85.175.4.135,49172&amp;quot;;Initial Catalog=equipment_rent;User ID =mrkotik; Password=&amp;quot;ciscO15=!&amp;quot;&quot; providerName=&quot;System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>